body {
    margin: 0;
    background-color: white;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    /*Chrome, Safari, Opera 등 일부 브라우저: 스크롤바 none*/
    display: none;
}

.text {
    text-align: center;
}

.text p {
    margin: 0;
    padding: 0;
}

.colorpicker {
    display: flex;
    justify-content: center;
    position: relative;
}

.rectangle {
    position: relative;
    margin-top: 70px;
    margin-bottom: 5%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    top: 40%;
    left: 50%;
    width: 30%;
}

.text3{
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(169, 169, 169);
    font-weight: bold;
    font-size: 2.5vw;
    top: 70%;
    left: 50%;
}

.btn {
    border: 0;
    padding: 0;
    cursor: pointer;
}
.text p.text1 {
    font-size: 40px;
    margin-top: 94px;
}

.text p.text2 {
    font-size: 45px;
    font-weight: bold;
}

#previewContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#previewContainer img {
    width: 75%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width:1024px) {
    .text p.text1 {
        font-size: 25px;
        margin-top: 50px;
    }

    .text p.text2 {
        font-size: 30px;
        font-weight: bold;
    }

    .rectangle {
        height: 20%;
        margin-bottom: 5%;
    }

    .check-image {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text3 {
        font-size: 23px;
        top: 75%;
    }

    #previewContainer {
        transform: translate(-50%, -45%);
    }
}

@media screen and (max-width:768px) {
    .text p.text1 {
        font-size: 25px;
        margin-top: 40px;
    }

    .text p.text2 {
        font-size: 30px;
        font-weight: bold;
    }

    .check-image {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text3 {
        font-size: 20px;
        top: 75%;
    }

    #previewContainer {
        transform: translate(-50%, -40%);
    }
}