:root{
    --gray-color: #eeeeee;
    --white-color: #ffffff;
    --font: 'Inter', sans-serif;
}

body{
    -ms-overflow-style: none;
    /*Internet Explorer 브라우저: 스크롤바 none*/
}

::-webkit-scrollbar {
    /*Chrome, Safari, Opera 등 일부 브라우저: 스크롤바 none*/
    display: none;
}

a{
    color: black;
}

.col{
    margin-top: 50px;
}
.col,
.col2{
    padding: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: var(--font);
    font-weight: 500;
    font-size: 40px;
}
#differ,
#green,
#all{
    background-color: var(--gray-color);
}
#red,
#blue{
    background-color: var(--white-color);
}
img{
    margin: 5px;
}
text{
    margin-right: 100px;
}

@media screen and (max-width: 1024px) {
    .col{
        margin-top: 44px;
    }
    .col2{
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 50vw;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .col,
    .col2{
        flex-direction: column;
        font-size: 30px;
    }
    text{
        margin-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    .col,
    .col2{
        font-size: 25px;
        width: 100%;
    }
    .container{
        display: block;
    }
}