body{
    /* background-size: cover; */
    background-image: 'images/bg1.png';
}

#text1{
    font-family: 'Inter', sans-serif;
    font-size: 3.2vw;
    color:white;    
    position: absolute; 
    top: 90px; 
    left: 50px;
    font-weight: bolder;
}

#text1 p {
    margin: 0; 
}

