body {
    margin: 0;
    -ms-overflow-style: none;
    /*Internet Explorer 브라우저: 스크롤바 none*/
    background-color: white;
}

::-webkit-scrollbar {
    /*Chrome, Safari, Opera 등 일부 브라우저: 스크롤바 none*/
    display: none;
}

.bgimg {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bgimg li {
    margin: 0;
    padding: 0;
}

.bgimg1,
.bgimg2 {
    display: block !important;
    width: 100% !important;
}

.bgimg li {
    position: relative;
}

#text1 {
    font-family: 'Inter', sans-serif;
    font-size: 3.2vw;
    color: white;
    position: absolute;
    top: 40px;
    left: 0;
    font-weight: bolder;
    margin-left: 30px;
}

#text1 p {
    margin: 0;
}

#text2 {
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#text3 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.bgimg4 {
    width: 100%;
}

/**/
.bgimg2 {
    height: 400px;
}

#text2 {
    font-size: 1.0rem;
    transform: translate(-50%, -50%);
}

.bgimg3 {
    width: 450px;
    height: auto;
}

#text3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-13%, -50%);
    z-index: 1;
    font-size: 1.5rem;
}

#text3 h2 {
    font-size: 2rem;
    margin: 0;
}

@media screen and (max-width:1024px) {
    .bgimg2 {
        height: 400px;
    }

    #text2 {
        font-size: 1.1rem;
        transform: translate(-50%, -50%);
    }

    .bgimg3 {
        width: 430px;
        height: auto;
    }

    #text3 {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-20%, -50%);
        z-index: 1;
        font-size: 1rem;
    }

    #text3 h2 {
        font-size: 1.5rem;
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .bgimg2 {
        height: 300px;
    }

    #text2 {
        font-size: 0.85rem;
    }

    .bgimg3 {
        width: 100% !important;
    }

    #text3 {
        font-size: 1.3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        margin-top: 180px;
        margin-right: 50px;
    }

    #text3 h2 {
        font-size: 2.2rem;
        margin: 0;
    }
}
