/* body{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 4px 24px; /* 위아래, 양옆 */
/*}
.navbar_logo{
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}
.navbar_menu{
    font-size: 17px;
    display: contents;
    list-style: none;
    padding-left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}
.navbar_menu li{
    padding: 10px 24px;
}
.navbar_toggleBtn{
    display: none;
    position: absolute;
    right: 20px;
    font-size: 26px;
    color: white;
}

@media screen and (max-width: 1024px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 4px 24px;
    }
    .navbar_logo{
        padding: 3px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_menu li:hover {
        background-color: gray;
    }
    .navbar_toggleBtn{
        display: block;
        padding: 3px;
        font-size: 23px;
    }
    .navbar_menu.active{
        display: flex;
    }
    @media screen and (max-width: 768px){
        .navbar{
            padding: 5px 20px;
        }
        .navbar_logo,
        .navbar_toggleBtn{
            padding: 0px;
            font-size: 23px;
        }
    }
} */

:root {
    --main-color: #000;
    --font: 'Inter', sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-black: 900;
}

body {
    font-family: var(--font);
    color: var(--main-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
nav {
    height: 44px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 16px;
}
.navbar_logo {
    color: #fff;
    font-weight: var(--font-black);
    font-size: 25px;
}
a {
    text-decoration: none;
    color: #fff;
}
.nav-link {
    margin: 0 30px;
}
.navbar_menu {
    display: flex; 
    column-gap: 80px;   /* 링크 사이 공간 */
    font-weight: var(--font-medium);  
     
}
.navbar_menu li {
    list-style: none;
    font-weight: var(--font-bold);
}
.nav_toggleBtn {
    font-size: 20px;
    visibility: hidden;
}

@media screen and (max-width:1024px) {
    .navbar_menu {
        position: absolute;
        top: 24px;
        right: 0;
        left: 0;
        height: 0;
        flex-direction: column;
        text-align: center;
        background-color: var(--main-color);
        overflow: hidden;
    }
    .nav-link {
        display: block;
    }
    .nav-item {
        padding: 1em 0;
    }
    .nav_toggleBtn {
        visibility: visible;
        position: absolute;
        right: 16px;
    }
    .show-menu {
        height: 162px;
    }
}