.img{
    text-align: center;
    margin: 40px;
}
Button {
    border: 0;
    width: 130px;
    height: 130px;
    font-size: 30px;
    border-radius: 50%;
    margin: 0 30px;
    padding: 0;
}
.btnGroup {
    text-align: center;
}
.nextBtn {
    width: 100px;
    height: 50px;
    border-radius: 0;
    font-size: 20px;
}
.btndiv {
    text-align: right;
}